html {
    overflow: hidden;
    /* background-color: #f70d00; */
}
body {
    margin: 0;
}
#canvas {
    display: block;
}

@font-face {
    font-family: RobotoRegular;
    src: url('fonts/Roboto/RobotoCondensed-Regular.ttf');
}